.card {
  margin: 100px auto;
  padding: 50px 60px 20px 60px;
  width: 4000px;
  text-align: center;
  background: #fff;
  border-radius: 6px;
  border: 4px solid #f3826f;
}

a {
  text-decoration: none;
  color: #f3826f;
}

a:hover {
  color: #f3826f;
  text-decoration: none;
}

body {
  background: #f7f5f0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn a:hover {
  color: #50b6bb;
}

.card-text {
  color: #f3826f;
}

.card-title {
  color: #f3826f;
}

.card-title-one {
  color: #f3826f
}

.main-nav {
  width: 100%;
  background: #f7f5f0;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: none;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: #50b6bb;
}

header {
  color: #f3826f;
}

h1 {
  background-color: #f3826f;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  display: table;
  margin: 30px auto;
}

h6 {
  color: #f3826f;
}

footer {
  margin: -5%;
}
